= content_template_begin
%h3= "#{t('lite_bbs.common.all')} #{t('lite_bbs.models.topics')}"
.top_tool_bar= link_to "#{t('lite_bbs.common.new')} #{LiteBbs::Topic.model_name.human}", new_admin_topic_path, class: 'btn btn-small btn-primary'
= search_form_for @q, url: admin_topics_path, html: {class: 'form-search'} do |f|
  = f.select :forum_id_eq, option_groups_from_collection_for_select(@sections, :forums, :name, :id, :name, (params[:q][:forum_id_eq] if params[:q])), include_blank: true
  .input-append
    = hidden_field_tag :stick, params[:stick]
    = hidden_field_tag :seal, params[:seal]
    = f.text_field :title_cont, class: 'span3 search-query'
    = f.submit t('lite_bbs.actions.search'), class: 'btn'
%table.table.table-hover
  %thead
    %tr
      %th{width: '5%'} #
      %th= sort_link(@q, :title)
      %th= sort_link(@q, :created_at, t('lite_bbs.common.date'))
      %th= t('lite_bbs.common.author')
      %th= sort_link(@q, :replies_count, t('lite_bbs.models.replies'))
  %tbody
    - @topics.each_with_index do |topic, index|
      %tr
        %td= "#{index + LiteBbs.topics_per_page * ((params[:page].nil? ? 1 : params[:page]).to_i - 1) + 1}"
        %td.topic_title
          = link_to display_icon('remove'), admin_topic_path(topic), method: :delete, confirm: t('lite_bbs.actions.confirm')
          = link_to topic.title, edit_admin_topic_path(topic)
          = link_to display_icon('share'), topic, target: '_blank'
        %td= topic.created_at.to_s
        %td= litebbs_user_name(topic.user)
        %td= display_badge(topic.replies.size)
= will_paginate(@topics)
= content_template_end
- if params[:q]
  :javascript
     $(".topic_title").highlight("#{h params[:q][:title_cont]}");
